.career {
	justify-content: space-between;
}
.border {
	border-right: 5px dotted var(--color-gray-700);
	border-bottom: 5px dotted var(--color-gray-700);
}

.listItemHeader {
	&:before {
		content: '• ';
	}
}
.listItemTime {
	margin-left: 10px;
}
.type {
	padding: 10px 0;
}
.header {
	padding-bottom: 10px;
}
