// @import url('variable.scss');

html[data-theme='dark'] {
	--brand: purple;
	--headerBG: #182635;
	--background: #151e26;
	--color: white;
	color: var(--color);
}

html[data-theme='light'] {
	--brand: #9a97f3;
	--headerBG: #818cab;
	--background: #e1e1ff;
	--color: #161625;
	color: var(--color);
}
root {
	--font-weight-bold: 500;
	--font-weight-medium: 400;
	--font-weight-light: 300;
	--font-family: 'Wotfard', Futura, -apple-system, sans-serif;
	--font-family-mono: 'League Mono', 'Fira Mono', monospace;
}
body {
	height: 100vh;
	width: 100vw;
	font-family: var(--font-family);
}
